<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>How Many Fingers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0023B8E2033D6EF00A956CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0023BA52033D6F000A956CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0023BB02033D6F000A956CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
